{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-sidebar">
        <div>
            <div class="dashboard-logo-div"><img src="" alt="Logo" /></div>
            <div class="dashboard-sidebar-name-img">
                <img src="{% static 'Images/favicon.ico' %}" alt="howard" />
                <div>
                    <h3>{% if request.user.name %}{{ request.user.name }}{% endif %}</h3>
                    <p>{{ request.user.email }}</p>
                </div>
            </div>
            <div class="dashboard-sidebar-menu">
                <div class="dashboard-sidebar-menu-sub">
                    
                </div>
                <div class="dashboard-sidebar-menu-sub">
                    <i class="fa fa-chart-bar"></i>
                    <h4 class="menu-hd"><a href="{% url 'stats' %}" >Stats</a></h4>
                </div>
            </div>
            <div>
                <div class="dashboard-sidebar-menu-sub">
                   
                </div>
            </div>
        </div>
        <div>
            <div class="dashboard-sidebar-menu-sub">
                <i class="fa fa-sign-out-alt"></i>
                <h4 class="menu-hd"><a href="{% url 'logout' %}" >Log Out</a></h4>
            </div>
        </div>
    </div>
    <div class="dashboard-content">
        <!-- Search Row -->
        <div class="dashboard-content-search-bar">
            <form method="post" action="{% url 'search_view' %}">
                {% csrf_token %}
            <div class="search-input">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search Case" name="name">
            </div>
        </form>
        </div>
        <!-- Save Search Button Row-->
        <div class="dashboard-content-search-btns">
            <div class="search-btns-first">
                <select>
                    <option value="arrests">Arrests</option>
                </select>
                <a href="" class="search-btns-first-link">List</a>
                <a href="" class="search-btns-first-schedule">Schedule</a>
            </div>
            <div class="search-btns-second">
                <p>Found <span class="cases-color-text">{{ total_records }} cases</span></p>
                
            </div>
        </div>
        <!-- Change period row -->
        <div class="change-period-div">
            <p>Change Period</p>
            <form method="get" action="">
                <select class="change-period-div-select" name="time_filter" onchange="this.form.submit()">
                    <option value="24 hours" {% if time_filter == '24 hours' %}selected{% endif %}>24 hours</option>
                    <option value="7 days" {% if time_filter == '7 days' %}selected{% endif %}>7 days</option>
                    <option value="Month" {% if time_filter == 'Month' %}selected{% endif %}>Month</option>
                    <option value="Year" {% if time_filter == 'Year' %}selected{% endif %}>Year</option>
                </select>
            </form>
        </div>
        <!-- Main Table -->
        <div class="main-table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Agency</th>
                    <th>Charge</th>
                    <th>Type</th>
                    <th class="custom-th">Lawyer</th>
                </tr>
                {% for record in records %}
                <tr>
                    <td class="table-td-name">{{ record.name }}</td>
                    <td class="table-td-name">{{ record.age }}</td>
                    <td class="custom-td">{{ record.address }}</td>
                    <td class="custom-td">{{ record.arrest_date }}</td>
                    <td class="custom-td">{{ record.agency }}</td>
                    <td class="custom-td">{{ record.charge }}</td>
                    <td class="custom-td">{{ record.arrest_type }}</td>
                    {% if record.state_lawyer %}
                    <td class="custom-td-btn"><button class="table-hired-btn">Kristin Watson</button></td>
                    {% elif record.defendant_lawyer%}
                    <td class="custom-td-btn"><button class="table-hired-btn">Kristin Watson</button></td>
                    {% else %}
                    <td class="custom-td-btn"><button class="table-not-hired-btn">Not Hired</button></td>
                    {% endif %}
                </tr>
                {% empty %}
        <tr>
            <td colspan="12">No records found.</td>
        </tr>
        {% endfor %}
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if records.has_previous %}
                        <a href="?page=1&time_filter={{ time_filter }}">&laquo; first</a>
                        <a href="?page={{ records.previous_page_number }}&time_filter={{ time_filter }}">previous</a>
                    {% endif %}

                    {% if records.records.paginator.num_pages %}
                    <span class="current">
                        Page {{ records.number }} of {{ records.paginator.num_pages }}.
                    </span>
                    {% endif %}
            
                    {% if records.has_next %}
                        <a href="?page={{ records.next_page_number }}&time_filter={{ time_filter }}">next</a>
                        <a href="?page={{ records.paginator.num_pages }}&time_filter={{ time_filter }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("working")
</script>
{% endblock %}