{% extends 'base.html' %} 
{% block content%}
<div class="login-container">
  <div class="login-box">
    <div class="login-div">
  <h2>Password Reset Form</h2>
  <p>Please enter your new password so we can verify.</p>

<form method="POST">
  {% csrf_token %} 
  <div class="login-input-field">
    <label>New Password</label>
    <input type="password" name="{{ form.new_password1.html_name }}" id="id_{{ form.new_password1.name }}" placeholder="Password" />
</div>
<div class="login-input-field">
  <label>Confirm Password</label>
  <input type="password" name="{{ form.new_password2.html_name }}" id="id_{{ form.new_password2.name }}" placeholder="Confirm Password" />
</div>
<div class="login-btn-field">
  <button class="login-btn" type="submit">Submit</button>
  </div>
</form>
</div>
</div>
</div>

{% endblock%}