{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
  <div class="login-box">
    <div class="login-div">
        <h2 class="">Forgot Password</h2>
        <p class="">Please enter your email address to receive a link to reset your password.</p>
        <form method="post">
          {% csrf_token %}
          <div class="login-input-field">
            <label>Email*</label>
            <input type="email" name="{{ form.email.name }}" id="id_{{ form.email.name }}" placeholder="Email Address" />
        </div>
        <div class="login-btn-field">
            <button class="login-btn" type="submit">Submit</button>
            <p class="already-account-text">Login with another account <a href="{% url 'login' %}"
              class="already-login">Log In</a></p>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
